@import url(/src/fontawesome/css/fontawesome.css);
@import url(/src/fontawesome/css/brands.css);
@import url(/src/fontawesome/css/solid.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply scroll-smooth bg-primary text-primary;
}

@layer base {
  section {
    @apply min-h-screen;
  }
}

@layer components {
  .btn {
    @apply py-1 px-2 border-2 border-current text-current cursor-pointer w-max h-max;
  }

  .nav-link {
    @apply block border-b border-current text-current pt-2 sm:pt-0 sm:h-[80px] sm:leading-[80px] sm:border-b-4 sm:border-transparent sm:hover:border-current sm:transition;
  }

  .card {
    @apply block w-full min-h-[500px] bg-primary py-4 text-current;

    > div:first-child {
      @apply h-4/6 w-11/12 mx-auto flex items-center justify-center;
    }

    > div:last-child {
      @apply h-2/6 overflow-hidden px-4;

      > h3 {
        @apply text-2xl font-thin pb-4 lg:text-3xl;
      }

      > p {
        @apply font-normal text-base;
      }
    }
  }
}

@layer utilities {
  .bg-gradient {
    @apply bg-gradient-to-br from-gradient-from to-gradient-to;
  }

  .text-gradient {
    @apply bg-gradient-to-br from-gradient-from to-gradient-to bg-clip-text text-transparent;
  }

  .text-h2 {
    @apply text-3xl font-semibold lg:text-5xl;
  }

  .container {
    @apply mx-auto;
  }
}
