@import url(/src/fontawesome/css/fontawesome.css);
@import url(/src/fontawesome/css/brands.css);
@import url(/src/fontawesome/css/solid.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  @apply !bg-slate-100 !text-slate-700 font-light;

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  p {
    @apply font-extralight;
  }

  i[class*='fa'] {
    @apply h-8 w-8 text-xl leading-8 text-center;
  }
}

.text-gradient {
  @apply bg-clip-text bg-gradient-to-br from-rose-500 to-slate-500 text-transparent;
}

.bg-gradient {
  @apply bg-gradient-to-br from-rose-500 to-current;
}

.body-container {
  @apply lg:px-8 lg:pt-8 transition;
}

article.js-is-shown {
  @apply !opacity-100;
}

header {
  @apply container mx-auto p-4 lg:mb-8;

  .js-hide {
    @apply !h-0 lg:!h-max;
  }

  .js-rotate {
    @apply rotate-180;
  }

  .js-typing-container {
    @apply inline-block;
  }

  .js-typing-row {
    @apply inline-block whitespace-nowrap;
  }

  .js-typing-col {
    @apply underline;
  }

  .js-typing-cursor {
    @apply absolute inline-block w-[2px] bg-rose-500 leading-tight text-3xl;
  }
}

header > div:nth-child(1) {
  @apply mb-8 text-center flex items-center justify-end gap-2 lg:justify-center xl:mb-0;

  i {
    @apply text-current transition;

    &.js-is-active {
      @apply text-gradient;
    }
  }
}

header > div:nth-child(2) {
  @apply lg:grid lg:grid-flow-col lg:grid-cols-2 xl:h-[80vh];

  h1 {
    @apply animate-expand mb-4 lg:flex lg:flex-col lg:justify-center lg:items-center;

    span {
      @apply whitespace-nowrap;
    }

    a {
      @apply font-normal underline;
    }

    b {
      @apply font-normal font-mono text-3xl text-gradient;
    }
  }

  section {
    @apply relative xl:flex xl:flex-col xl:justify-center;

    div:first-child {
      @apply flex flex-col gap-2 h-[300px] overflow-y-scroll transition-[height] duration-300 scrollbar-hide lg:h-max;

      p {
        @apply leading-tight;
        b {
          @apply font-normal;
        }
        a {
          @apply font-normal underline;
        }
      }
    }

    div:nth-child(2) {
      @apply border-t-2 w-full border-rose-500 lg:mt-4;

      i {
        @apply absolute bottom-0 left-1/2 -translate-x-1/2 animate-blink2 transition lg:hidden;
      }
    }

    div:last-child {
      @apply flex items-center justify-end gap-1 lg:justify-start;

      i {
        @apply my-1 bg-slate-700 rounded-lg text-slate-100 transition;
      }
    }
  }
}

main {
  @apply container p-4 mx-auto;
}

main > section {
  @apply mb-8 lg:mb-16 xl:mb-32;

  h2 {
    @apply mb-4 border-b border-rose-500;
  }
}

.projects-container > div {
  @apply flex gap-4 flex-wrap;

  article {
    @apply relative w-full h-[300px] rounded-xl bg-no-repeat bg-cover bg-left-top lg:h-[500px];

    a {
      @apply rounded-xl h-full bg-slate-300 !bg-opacity-90 py-16 px-8 flex flex-col gap-8 items-center justify-center;

      h3 {
        @apply font-normal;
      }
    }
  }
}

.stack-container {
  div {
    @apply grid grid-flow-row grid-cols-4 justify-items-center gap-1 lg:gap-8;

    article {
      @apply flex flex-col items-center justify-center w-[72px];

      img {
        @apply block rounded-t-lg h-[72px] w-full object-cover bg-white;
      }

      span {
        @apply text-center whitespace-nowrap;
      }
    }
  }
}

.resume-container {
  & > div {
    @apply grid grid-flow-row gap-4 lg:grid-cols-2;
  }

  article {
    @apply border rounded-xl p-4 transition;

    & > div:nth-of-type(1) {
      @apply mb-4 leading-tight;

      h3 {
        @apply text-lg font-bold leading-tight;
      }
    }

    & > div:nth-of-type(2) {
      @apply mb-4;

      b {
        @apply break-all;
      }
    }

    ul {
      @apply list-disc pl-4;
    }
  }
}

footer {
  @apply flex items-center justify-center p-4 border-t;
  span {
    @apply text-gradient;
  }
}
