@import url(/src/fontawesome/css/fontawesome.css);
@import url(/src/fontawesome/css/brands.css);
@import url(/src/fontawesome/css/solid.css);

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */
@tailwind components;

/**
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
@tailwind utilities;

@layer utilities {
  .text-gradient {
    @apply bg-clip-text bg-gradient-to-br from-rose-500 to-slate-500 text-transparent;
  }

  .bg-gradient {
    @apply bg-gradient-to-br from-rose-500 to-current;
  }

  .bg-gradient-2 {
    @apply bg-gradient-to-br from-current  to-slate-100;
  }
}

:root {
  @apply bg-slate-100 text-slate-700 font-light;

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  p {
    @apply font-extralight;
  }

  i[class*="fa"] {
    @apply h-8 w-8 text-xl leading-8 text-center;
  }
}

main {
  @apply min-h-screen;

  > header {
    @apply container mx-auto p-4 pb-0 flex flex-col gap-4;

    h1 {
      @apply animate-expand;

      span {
        @apply whitespace-nowrap;
      }

      a {
        @apply font-normal underline;
      }

      b {
        @apply font-normal font-mono text-3xl text-gradient;
      }
    }

    section {
      @apply relative;

      div:first-child {
        @apply flex flex-col gap-2 h-[300px] overflow-y-scroll transition-[height] duration-300 scrollbar-hide;

        p {
          @apply leading-tight;
          b {
            @apply font-normal;
          }
          a {
            @apply font-normal underline;
          }
        }
      }

      div:nth-child(2) {
        @apply border-t-2 w-full border-rose-500;

        i {
          @apply absolute bottom-0 left-1/2 -translate-x-1/2 transition;
        }
      }

      div:last-child {
        @apply flex items-center justify-end gap-1;

        i {
          @apply my-1 bg-slate-700 rounded-lg text-slate-100;
        }
      }
    }

    .js-hide {
      @apply !h-0;
    }

    .js-rotate {
      @apply rotate-180;
    }

    .js-typing-container {
      @apply inline-block;
    }

    .js-typing-row {
      @apply inline-block whitespace-nowrap;
    }

    .js-typing-col {
      @apply underline;
    }

    .js-typing-cursor {
      @apply absolute inline-block w-[1px] bg-slate-700 leading-tight;
    }
  }

  > section {
  }
}

/* :root {
  @apply scroll-smooth bg-primary text-primary;
}

@layer base {
  section {
    @apply min-h-screen;
  }
}

@layer components {
  .btn {
    @apply py-1 px-2 border-2 border-current text-current cursor-pointer w-max h-max;
  }

  .nav-link {
    @apply block border-b border-current text-current pt-2 sm:pt-0 sm:h-[80px] sm:leading-[80px] sm:border-b-4 sm:border-transparent sm:hover:border-current sm:transition;
  }

  .card {
    @apply block w-full min-h-[500px] bg-primary py-4 text-current;

    > div:first-child {
      @apply h-4/6 w-11/12 mx-auto flex items-center justify-center;
    }

    > div:last-child {
      @apply h-2/6 overflow-hidden px-4;

      > h3 {
        @apply text-2xl font-thin pb-4 lg:text-3xl;
      }

      > p {
        @apply font-normal text-base;
      }
    }
  }
}

@layer utilities {
  .bg-gradient {
    @apply bg-gradient-to-br from-gradient-from to-gradient-to;
  }

  .text-gradient {
    @apply bg-gradient-to-br from-gradient-from to-gradient-to bg-clip-text text-transparent;
  }

  .text-h2 {
    @apply text-3xl font-semibold lg:text-5xl;
  }

  .container {
    @apply mx-auto;
  }
} */
